{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "ie": "11"
        },
        "modules": false
      }
    ]
  ],
  "env": {
    "testing": {
      "presets": ["@babel/env"]
    }
  }
}
